<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>8198179838-ovf5h8cdrbr18d20f1iean32uutrr7bb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.8198179838-ovf5h8cdrbr18d20f1iean32uutrr7bb</string>
	<key>API_KEY</key>
	<string>AIzaSyC1X7Rbx-3TPs_UJJnXRMEiLE3FNbNB0G8</string>
	<key>GCM_SENDER_ID</key>
	<string>8198179838</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chat</string>
	<key>PROJECT_ID</key>
	<string>chat-app-b908b</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-b908b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:8198179838:ios:f295044a6186f0ab880eaf</string>
</dict>
</plist>